[user]
	email = 103436411+MorganKryze@users.noreply.github.com
	name = Morgan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
[pull]
	rebase = true
