[submodule "yabai-setup"]
	path = yabai-setup
	url = git@github.com:MorganKryze/Yabai-Setup.git
	branch = main
[submodule "easy-env"]
	path = easy-env
	url = git@github.com:MorganKryze/Easy-Env.git
	branch = main
[submodule "easy-git"]
	path = easy-git
	url = git@github.com:MorganKryze/Easy-Git.git
	branch = main
