[user]
	email = 103436411+MorganKryze@users.noreply.github.com
	name = MorganKryze
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
[pull]
	rebase = true

[includeIf "gitdir:~/Documents/00-local/01-git/08-forgejo/"]
    path = ~/.gitconfig-forgejo