# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git navigation branches
alias main="cd ../main"
alias dev="cd ../dev"

# Files
alias ll="lsd -lAh"
alias llt="lsd --tree ."

# Nix
alias nix-create-flake="nix flake init -t nix-darwin --extra-experimental-features \"nix-command flakes\""

# VSCode
alias opn="code .;exit;"
alias reopn="code -r ."

# Docker
alias lzd="lazydocker"
alias d="docker"
alias dc="docker compose"
alias dcu="docker compose up -d"
alias dcd="docker compose down"
alias dcr="docker compose down && docker compose up -d"
alias db-reboot="dcd && rm -rf ./db && dcu"

# Python
alias py="python"

# Node - Astro
alias astro-dev="pnpm run dev"

# Svelte
alias svelte-dev="pnpm run dev"
alias svelte-add="NODE_TLS_REJECT_UNAUTHORIZED=0 pnpm dlx shadcn-svelte@latest add"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get week number
alias week='date +%V'

# IP addresses
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
alias new="clear && reload"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Copy safely
alias copier="rsync -avh --progress --partial"

# Gradle
alias kotlin-new="gradle init --type kotlin-application --dsl kotlin --test-framework kotlintest --java-version 21 --project-name"
alias java-new="gradle init --type java-application --dsl kotlin --test-framework junit --java-version 21 --project-name"

# Android emulator
alias start-and-emulator="$HOME/Library/Android/sdk/emulator/emulator -avd Medium_Phone_API_35"
alias list-and-emulators="$HOME/Library/Android/sdk/emulator/emulator -list-avds"

# Random
alias luck="fortune | cowsay"
alias fire="cd $HOME/Documents/00-local/05-apps/DOOM-fire-node && pnpm start"
alias nano="micro"

# ROS
# alias python="python3.9"

# Add an "alert" alias for long running commands using ntfy.sh
alias alert='notify_via_ntfy'

bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward
