# Packages
alias update-pkg="sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get autoremove -y"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git navigation branches
alias main="cd ../main"
alias dev="cd ../dev"

# Files
alias dr="lsd -lah"
alias dt="lsd --tree ."
alias vol="sudo fdisk -l"

# Docker
alias d="docker"
alias dc="docker compose"
alias dcu="docker compose up -d"
alias dcd="docker compose down"
alias lzd="lazydocker"

# Python
alias py="python"
alias pip-req="pip list --format=freeze > requirements.txt"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get week number
alias week='date +%V'

# IP addresses
alias showip="hostname -I"

# Space
alias getsize="du -h -s */ | sort -rh"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Solve permission for medias
alias format-usb="sudo mkfs.ext4"
alias media-perms="sudo chmod -R 777 /media"
